.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}

/* .footer__column-links {
  margin-bottom: 16px;
  list-style: none;
}

.footer__column-link {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.footer__column-heading {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.logo_place_footer {
  height: 35px;
  background-image: url(/images/logo_place_footer.svg);
}

.footer__author {
  margin: 18px auto 18px 0;
  color: white;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
} */
